<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>FINAI</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="formStyle.css">
</head>
<body>
<div id="page-container">
        <div id="content-wrap">
                <div class="navbar">
                        <h1>FinAI</h1>
                        <a href="value.html">House Value</a>
                        <a id="btnlogout" href="index.html">Log-Out</a>
                </div>
                <img width="100%" src="creditIDeserve.jpg">
                <div class="container">
                        <h1>Check Client Loan Suitabilty</h1>
                        <div class="mainForm">
                                <form id="calcForm" action="calculator" method="post">
                                        <div class="question">
                                                <p>
                                                        <div class="title">
                                                                <label><b>GENDER:</b></label>
                                                        </div>
                                                        <div class="radio">
                                                                <input type="radio" name="gender" value="1" id="gender" checked="checked" required> <label>MALE</label>
                                                                <input type="radio" name="gender" value="0" > <label>FEMALE</label>
                                                        </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>MARRIED:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="radio" name="married" value="1" id="married" required> <label>YES</label>
                                                        <input type="radio" name="married" value="0"> <label>NO</label>
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>COLLEGE GRADUATE:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="radio" name="graduated" value="1" id="graduated" required> <label>YES</label>
                                                        <input type="radio" name="graduated" value="0"> <label>NO</label>
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>SELF EMPLOYED:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="radio" name="selfEmployed" value="1" id="selfEmployed" required> <label>YES</label>
                                                        <input type="radio" name="selfEmployed" value="0"> <label>NO</label>
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>CREDIT HISTORY:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="radio" name="creditHistory" value="1" id="creditHistory" required> <label>YES</label>
                                                        <input type="radio" name="creditHistory" value="0"> <label>NO</label>
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>APPLICANT INCOME:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="text" name="income" id="income" pattern="\d+(\.\d{2})?" required placeholder="Applicant Income">
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>CO-APPLICANT INCOME:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="text" name="coIncome" id="coIncome" pattern="\d+(\.\d{2})?" required placeholder="Co-app Income">
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>LOAN AMOUNT:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="text" name="amount" id="amount" pattern="\d+(\.\d{2})?" required placeholder="Loan Amount">
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>LOAN AMOUNT TERM:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="number" name="time" id="time" pattern="\d+(\.\d{2})?" required placeholder="Loan Time">
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>PROPERTY AREA:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="radio" name="area" value="1" id="area" required> <label>RURAL</label>
                                                        <input type="radio" name="area" value="2"> <label>SEMI URBAN</label>
                                                        <input type="radio" name="area" value="3"> <label>URBAN</label>
                                                </div>
                                                </p>
                                        </div>
                                        <div class="question">
                                                <p>
                                                <div class="title">
                                                        <label><b>NO. OF DEPENDENTS:</b></label>
                                                </div>
                                                <div class="radio">
                                                        <input type="text" name="dependents" id="dependents" pattern="\d+(\.\d{2})?" required placeholder="NO. OF DEPENDENTS">
                                                </div>
                                                </p>
                                        </div>
                                                <input type="image" id="submit" src="btnSub.jpg">
                                </form>
                        </div>
                </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase.js"></script>
        <script src="calculator.js"></script>
        <div class="footer">
                <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
                <h1><i class="fa fa-phone"></i> (353)1111111</h1>
                <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
        </div>
</div>
</body>
</html>
