<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="navStyle.css">
</head>



<body>
<div class="navbar">
    <h1>FinAI</h1>
    <a href="/login">Login</a>
    <a href="/SignUp">Sign Up</a>
    <a href="/home">Home</a>
</div>
<section>
    <div class="rt-container">
        <div class="col-rt-12">
            <!-- Slider -->
            <div id="slider">
                <div class="slides">
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Check Loan Eligibility</h2>
                                <p>With our app you will be able to check loan abilities of your users. In a short time and with a little effort on your part, we will be able to predict whether your user will be able to get a loan.</p>
                            </div>
                        </div>
                        <div class="image"> <img src="loan.jpg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Check house value</h2>
                                <p>Our specialists have created an almost perfect formula for calculating the value of an apartment. All you need to do is provide the right amount of information, our algorithm will be able to determine the value of almost every apartment.</p>
                            </div>
                        </div>
                        <div class="image"> <img src="houseValue.jpg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Build Reports</h2>
                                <p>Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....</p>
                            </div>
                        </div>
                        <div class="image"> <img src="report.jpeg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Mobile App</h2>
                                <p>Have you try our Mobile App?<br>Provide your users with our mobile app to have even more!</p>
                            </div>
                        </div>
                        <div class="image"> <img src="mobileApp.jpeg"> </div>
                    </div>
                </div>
                <div class="switch">
                    <ul>
                        <li>
                            <div class="on"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="point">
    <h1>First reason to use our app!</h1>
    <h2>__________________________________________</h2>
    <p>CHECK LOAN ELIGIBILITY</p>
    <p>With our app you will be able to check loan abilities of your users.<br>In a short time and with a little effort on your part, we will be able to predict whether your user will be able to get a loan.</p>
</div>
<div class="pointRight">
    <h1>Second reason to use our app!</h1>
    <h2>__________________________________________</h2>
    <p>CHECK HOUSE VALUE</p>
    <p>Our specialists have created an almost perfect formula for calculating the value of an apartment. All you need to do is provide the right amount of information, our algorithm will be able to determine the value of almost every apartment.</p>
</div>
<div class="point">
    <h1>Third reason to use our app!</h1>
    <h2>__________________________________________</h2>
    <p>BUILD REPORTS</p>
    <p>Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....Build reports....</p>
</div>
<div class="footer">
    <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
    <h1><i class="fa fa-phone"></i> (353)1111111</h1>
    <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
</div>
</body>
</html>
