<!DOCTYPE html>
<html lang="en">
<head>

<title>FinAI</title>
<link rel="icon" href="coin1.png">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="indexStyle.css">
</head>


<body>
<div class="navbar">
	<div class="header">
		  <img src="coin1.png" />
          <a href="index.html"/>
          <h1>FinAI</h1>
	</div>
    <a href="/login">Login</a>
    <a href="/SignUp">Sign Up</a>
    <a href="/home">Home</a>
</div>
<section>
    <div class="rt-container">
        <div class="col-rt-12">
            <!-- Slider -->
            <div id="slider">
                <div class="slides">
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Check Loan Eligibility</h2>
                                <p>With our state of the art FinAI Engine you will be able to check loan abilities of your clients. In a short time and with a little effort on your part, we will be able to predict whether your client will be able to get a loan.</p>
                            </div>
                        </div>
                        <div class="image"> <img src="loan.jpg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Check house value</h2>
                                <p>Our specialists have created an almost perfect formula for calculating the value of an house. All you need to do is provide the right amount of information, our algorithm will be able to determine the value of almost every home.</p>
                            </div>
                        </div>
                        <div class="image"> <img src="houseValue.jpg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Build Reports</h2>
                                <p>Our experts have developed extremely accurate machine learning models and you can view the exceptional accuracy of these models as well as gain valuable insight into how different factors affect the loan status and house price.</p>
                            </div>
                        </div>
                        <div class="image"> <img src="report.jpeg"> </div>
                    </div>
                    <div class="slider">
                        <div class="legend"></div>
                        <div class="content">
                            <div class="content-txt">
                                <h2>Mobile App</h2>
                                <p>Have you try our Mobile App?<br>Provide your clients with our mobile app to have even more!</p>
                            </div>
                        </div>
                        <div class="image"> <img src="mobileApp.jpeg"> </div>
                    </div>
                </div>
                <div class="switch">
                    <ul>
                        <li>
                            <div class="on"></div>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="point">
    <h1>CHECK LOAN ELIGIBILITY</h1>
    <h2>__________________________________________</h2>
    <p>With our state of the art FinAI Engine you will be able to check loan abilities of your clients. In a short time and with a little effort on your part, we will be able to predict whether your client will be able to get a loan.</p>
</div>
<div class="pointRight">
    <h1>CHECK HOUSE VALUE</h1>
    <h2>__________________________________________</h2>
    <p>Our specialists have created an almost perfect formula for calculating the value of an house. All you need to do is provide the right amount of information, our algorithm will be able to determine the value of almost every home.</p>
</div>
<div class="point">
    <h1>VIEW REPORTS</h1>
    <h2>__________________________________________</h2>
    <p>Our experts have developed extremely accurate machine learning models and you can view the exceptional accuracy of these models as well as gain valuable insight into how different factors affect the loan status and house price.</p>
</div>
<div class="footer">
    <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
    <h1><i class="fa fa-phone"></i> (353)1111111</h1>
    <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
</div>
</body>
</html>
