<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FINAI</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="signStyle.css">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="navbar">
            <h1>FinAI</h1>
            <a href="/login">Login</a>
            <a href="/SignUp">Sign Up</a>
            <a href="/home">Home</a>
        </div>
        <div class="container">
        <div class="mainForm">
            <h1>Login</h1>
            <form id="signUpForm">
                <p>
                    <input type="email" id="txtLogin" placeholder="E-mail address">
                </p>
                <p>
                    <input type="password" id="txtPassword" placeholder="Password">
                </p>
                <div class="login">
                    <input type="image" id="btnLog" src="btnLog.jpg"/> <br><br>
                    <input type="image" id="btnFacebook" src="facebook.jpg"/>
                    <input type="image" id="btnGoogle" src="google.png"/>
                </div>
            </form>
        </div>
        </div>
    </div>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase.js"></script>
<script src="login.js"></script>
<div class="footer">
    <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
    <h1><i class="fa fa-phone"></i> (353)1111111</h1>
    <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
</div>
</div>
</body>
</html>
