<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="navStyle.css">
</head>



<body>
<div class="navbar">
    <h1>FinAI</h1>
    <a href="/login">Login</a>
    <a href="/SignUp">Sign Up</a>
    <a href="/home">Home</a>
</div>
<div class="content">

	<h1>Customer profile has been analyzed and the FinAI Engine has determined that they qualify for this loan amount</h1>








        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase.js"></script>
        <div class="footer">
                <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
                <h1><i class="fa fa-phone"></i> (353)1111111</h1>
                <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
        </div>
</div>
</body>
</html>