<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>FINAI</title>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="formStyle.css">
        </head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="navbar">
            <h1>FinAI</h1>
            <a href="calculator.html">Credit Eligibility</a>
            <a id="btnlogout" href="index.html">Log-Out</a>
        </div>
        <img width="100%" src="forSale.jpg">
        <div class="container">
            <div class="mainForm">

                <form id="valueForm" action="value" method="post">
                    <h1>Check value of the house!</h1>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>NO. OF BEDROOMS:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="bedrooms" id="bedrooms" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>NO. OF BATHROOMS:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="bathrooms" id="bathrooms" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>SQUARE FOOTAGE OF HOUSE:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="sqfliving" id="sqfliving" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>SQUARE FOOTAGE OF LOT:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="sqflot" id="sqflot" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>NO. FLOORS:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="floors" id="floors" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>CONDITION:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="condition" id="condition" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>YEAR BUILT:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="yrBuilt" id="yrBuilt" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>LAST RENOVATED:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="renovated" id="renovated" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>BASEMENT SQUARE FOOTAGE:</b></label>
                        </div>
                        <div class="radio">
                            <input type="text" name="belowSqFt" id="belowSqFt" required>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>WATERFRONT:</b></label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="waterfront" value="1" id="waterfront" required> <label>Yes</label>
                            <input type="radio" name="waterfront" value="0"> <label>No</label>
                        </div>
                        </p>
                    </div>
                    <div class="question">
                        <p>
                        <div class="title">
                            <label><b>VIEW:</b></label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="view" value="1" id="view" required> <label>Yes</label>
                            <input type="radio" name="view" value="0"> <label>No</label>
                        </div>
                        </p>
                    </div>
                    <input type="image" id="submit" src="btnSub.jpg">
                </form>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase.js"></script>
    <script src="homeValue.js"></script>
    <div class="footer">
        <h1><i class="fa fa-road"></i> 1 Patrick Street</h1>
        <h1><i class="fa fa-phone"></i> (353)1111111</h1>
        <h1><i class="fa fa-envelope"></i> FINAI@mycit.ie</h1>
    </div>
</div>
</body>
</html>
