<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>FINAI</title>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="mainStyle.css">
        </head>
<body>
<div id="logo">
    <img src="Coin.png" alt="logo">
</div>
<div id="log-in">
    <p>Hello User!</p>
</div>
<div class="navigation">
    <h3>
        <li><a href="/home">Home</a></li>
        <li><a href="/calculator">Credit eligibility</a></li>
    </h3>
</div>
<div class="menu">
    USEFULL LINKS
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
    <a href="#">Link 7</a>
    <a href="#">Link 8</a>
</div>
<div class="mainForm">
    <h3>Check house value</h3>
    <form id="valueForm">
        <p>
            <label>NO OF BEDROOMS</label>
            <input type="number" name="bedrooms" id="bedrooms" required>
        </p>
        <p>
            <label>NO OF BATHROOMS</label>
            <input type="number" name="bathrooms" id="bathrooms" required>
        </p>
        <p>
            <label>SQUARE FOOTAGE OF THE LIVING ROOM</label>
            <input type="number" name="sqfliving" id="sqfliving" required>
        </p>
        <p>
            <label>SQUARE FOOTAGE OF THE LOT</label>
            <input type="number" name="sqflot" id="sqflot" required>
        </p>
        <p>
            <label>NO. OF FLOORS</label>
            <input type="number" name="floors" id="floors" required>
        </p>
        <p>
            <label>CONDITION</label>
            <input type="text" name="condition" id="condition" required>
        </p>
        <p>
            <label>ZIP CODE</label>
            <input type="text" name="zip" id="zip" required>
        </p>
        <p>
            <label>ENERGY</label>
            <input type="text" name="energy" id="energy" required>
        </p>
        <p>
            <label>LAST RENOVATED</label>
            <input type="text" name="renovated" id="renovated" required>
        </p>
        <p>
            <label>ABOVE GROUND SQUARE FOOTAGE</label>
            <input type="text" name="aboveSqFt" id="aboveSqFt" required>
        </p>
        <p>
            <label>BELOW GROUND SQUARE FOOTAGE</label>
            <input type="text" name="belowSqFt" id="belowSqFt" required>
        </p>
        <p>
            <label>IS WATERFRONT</label>
            <input type="radio" name="waterfront" value="yes" id="waterfront" required> Yes
            <input type="radio" name="waterfront" value="no"> No
        </p>
        <p>
            <label>HAS A VIEW</label>
            <input type="radio" name="view" value="yes" id="view" required> Yes
            <input type="radio" name="view" value="no"> No
        </p>
        <p class="full">
            <button id="submit">Submit</button>
        </p>
    </form>
</div>

<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase.js"></script>
<script src="homeValue.js"></script>
<div class="footer">
    <li><i class="fa fa-road"></i> 1 Patrick Street</li>
    <li><i class="fa fa-phone"></i> (353)1111111</li>
    <li><i class="fa fa-envelope"></i> FINAI@mycit.ie</li>
</div>
</body>
</html></title>
